<html>
<head>
<script src="{{ url_for('static', filename='Chart.min.js') }}"></script>
</head>
<body>
<canvas id="myChart" width="320" height="240"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for item in timestamp_labels %}
            "{{item}}",
            {% endfor %}],
        datasets: [{
            label: 'Temp °F',
            data: [{% for item in temps %}
                "{{item}}",
                {% endfor %}],
            borderColor: "#c45850",
            borderWidth: 1
        }, {
            label: 'Pressure in. Hg',
            data: [{% for item in press %}
                "{{item}}",
                {% endfor %}],
            borderColor: "#8e5ea2",
            borderWidth: 1
        }, {
            label: 'Humidity',
            data: [{% for item in humids %}
                "{{item}}",
                {% endfor %}],
            borderColor: "#3e95cd",
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    suggestedMin: 50
                }
            }]
        }
    }
});
</script>
