<html>
<head>
<meta charset="utf-8" name="viewport" content="width=device-width" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" charset="utf-8" />
<script src="{{ url_for('static', filename='Chart.min.js') }}"></script>
<body>
<h1>Welcome - ad6dm-pi3b-1 server</h1>
<p>Current location environment stats:</p>
<pre>{{bme280_text}}</pre>
<p>Readings for the past day</p>
<div width="1000" height="400">
<canvas id="myChart" width="1000" height="600"></canvas>
</div>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
ctx.canvas.width = 1000;
ctx.canvas.height = 600;

var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for item in timestamp_labels %}
            "{{item}}",
            {% endfor %}],
        datasets: [{
            label: 'Temp °F',
            data: [{% for item in temps %}
                "{{item}}",
                {% endfor %}],
            borderColor: "#c45850",
            borderWidth: 1
        }, {
            label: 'Pressure in. Hg',
            data: [{% for item in press %}
                "{{item}}",
                {% endfor %}],
            borderColor: "#8e5ea2",
            borderWidth: 1
        }, {
            label: 'Humidity',
            data: [{% for item in humids %}
                "{{item}}",
                {% endfor %}],
            borderColor: "#3e95cd",
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: true,
        scales: {
            yAxes: [{
                ticks: {
                    suggestedMin: 50
                }
            }]
        }
    }
});
</script>
</body>
</html>
